.App {
  text-align: left;
  background-color: #d7f4eeff;
}

main {
  display: block;
}

.App-header {  
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-family: serif;
  font-size: calc(20px + 2vmin);
  color: #333333ff;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 25px;
}
.App-body {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  font-weight: 100;
  color: #333333ff;
  padding-left: 50px;
  padding-top: 0px;
  padding-bottom: 50px;
  width: 60%;
}

.App-link {
  color: #333333ff;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: rgb(155, 155, 155);
}