.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(
    45deg,
    hsl(191deg 91% 18%) 0%,
    hsl(191deg 77% 23%) 11%,
    hsl(190deg 68% 27%) 22%,
    hsl(190deg 62% 32%) 33%,
    hsl(190deg 58% 37%) 44%,
    hsl(189deg 54% 41%) 56%,
    hsl(189deg 52% 46%) 67%,
    hsl(188deg 51% 51%) 78%,
    hsl(187deg 59% 56%) 89%,
    hsl(187deg 69% 60%) 100%
  );  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #dbdbdb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
