@font-face {
  font-family: EBGaramondBold;
  src: url(./fonts/EBGaramond-Bold.ttf);
}
@font-face {
  font-family: EBGaramondBoldItalic;
  src: url(./fonts/EBGaramond-BoldItalic.ttf);
}
@font-face {
  font-family: EBGaramondItalic;
  src: url(./fonts/EBGaramond-Italic.ttf);
}
@font-face {
  font-family: EBGaramondRegular;
  src: url(./fonts/EBGaramond-Regular.ttf);
}
@font-face {
  font-family: EBGaramondSemiBold;
  src: url(./fonts/EBGaramond-SemiBold.ttf);
}
@font-face {
  font-family: EBGaramondSemiBoldItalic;
  src: url(./fonts/EBGaramond-SemiBoldItalic.ttf);
}

body {
  margin: 0;
  font-family: 'EBGaramondRegular', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  font-family: 'EBGaramondSemiBoldItalic', serif;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin: 0;
  font-family: 'EBGaramondRegular', serif;
  font-weight: 100;
  font-size: calc(20px + 2vmin);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
